    /* /////////////////////////// */

    /* HEADER */
    header {
        display: flex;
        font-size: 24px;
        background-color: black;
        height: 110px;
        justify-content: space-between;
        align-items: center;



    }


    .logo {
        display: flex;
        padding: 10px;
        align-items: center;
        margin-right: 5px;
    }

    .logo img {
        height: 80px;
    }

    .vgba {
        font-size: 20px;
        color: rgba(143, 139, 139, 0.678);
        padding: 25px;
        font-family: 'Times New Roman', Times, serif;
    }

    a {
        text-decoration: none;
        color: white;
    }

    nav a {
        padding: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


    }

    nav a:hover {
        color: rgb(97, 93, 93);
    }

    .viva2023 {
        color: rgba(70, 70, 70, 0.637);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
    }

    .viva2023:hover {
        color: rgb(73, 73, 73);
    }

    /* FIN HEADER */

    /* //////////////////////////////////////////// */

    /* FOOTER */

    footer {
        margin: 0;
        margin-bottom: 0;
        display: flex;
        font-size: 24px;
        background-color: black;
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 10px;
        align-items: center;

    }

    footer section a:hover {
        color: rgb(97, 93, 93);
    }

    div nav {
        padding: 30px;
    }

    /* FIN FOOTER */

    /* /////////////////////////// */

    /* INDEX */
    .fondo1 {
        width: 100%;
        height: 900px;
        object-fit: cover;
    }


    footer section a {
        margin-right: 15px;
    }

    .recepcion {
        width: 100%;
        height: 900px;
        object-fit: cover;
    }

    .bodycontacto {
        margin: 0;
    }

    h1 {
        font-size: 100px;
    }

    .texto2 {
        font-size: 50px;
    }

    .textosomos {
        font-size: 20px;
    }

    .banner {
        background-image: url(./medios/casa1.jpg);
        background-size: cover;
        background-position: center;
        height: 870px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        text-shadow: -5px -3px 3px rgba(34, 29, 29, 1);
        text-align: center;

    }



    .grid-padre img {
        height: 100%;
        width: 100%;
    }


    .main {
        padding-top: 0px;
    }

    .grid-padre {
        width: 95%;
        display: grid;
        grid-template-areas:
            "img1 texto1 texto1"
            "img2 texto2 texto2"
            "img3 texto3 texto3";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 600px 600px 600px;
        gap: 40px;
        margin-top: 40px;
        justify-items: center;
        align-items: center;
        margin-bottom: 40px;
        margin-left: 10px;



    }

    .grid-img-1 {
        grid-area: img1;
        
        width: 200px;
        height: 150px;
        
        




    }

    .grid-img-2 {
        grid-area: img2;
      
        max-width: 750px;

    }

    .grid-img-3 {
        grid-area: img3;
       
      

    }

    .grid-textos-1 {
        grid-area: texto1;


    }

    .grid-textos-2 {
        grid-area: texto2;
    }

    .grid-textos-3 {
        grid-area: texto3;
    }
    
  
   

    /* FIN INDEX */

    /* /////////////////////////// */

    /* SOBRE NOSOTROS */
    .h1au {
        background-image: url(./medios/equipo.jpg);
        background-size: cover;
        background-position: center;
        height: 870px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        text-shadow: -5px -3px 3px rgba(34, 29, 29, 1);
        text-align: center;
    }

    .grid-padre img {
        height: 100%;
        width: 100%;
    }


    .main {
        padding-top: 0px;
    }

    .gridau {
        width: 95%;
        display: grid;
        grid-template-areas:
            "img1 texto1 texto1"
            "texto2 texto2 img2"
            "img3 texto3 texto3"
            "texto4 texto4 img4";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 600px 600px 600px;
        gap: 40px;
        margin-top: 40px;
        justify-items: center;
        align-items: center;
        margin-bottom: 40px;
        margin-left: 10px;



    }

    .imgau1 {
        grid-area: img1;
        border-radius: 25px;
        margin-left: 150px;


    }

    .imgau2 {
        grid-area: img2;
        border-radius: 25px;
        margin-right: 200px;

    }

    .imgau3 {
        grid-area: img3;
        border-radius: 25px;
        
        

    }

    .imgau4 {
        grid-area: img4;
        border-radius: 25px;
    }

    .textoau1 {
        grid-area: texto1;
        padding: 200px;

    }

    .textoau2 {
        grid-area: texto2;
        padding: 300px;
    }


    .textoau3 {
        grid-area: texto3;
        padding: 250px;
      
    }

    .textoau4 {
        grid-area: texto4;
        padding: 250px;
    }

    /* FIN SOBRE NOSOTROS */

    /* /////////////////////////// */

    /* CONTACTO */

    .bannercontact {
        background-image: url(./medios/recepcion.jpg);
        background-size: cover;
        background-position: center;
        height: 870px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        text-shadow: -5px -3px 3px rgba(34, 29, 29, 1);
        text-align: center;
    }



    .formulario {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: gray;
    }

    .comollegar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;

    }

    /* FIN CONTACTO */

    /* /////////////////////////// */

    /* WORKS */
    .bannerworks {
        background-image: url(./medios/trabajos.avif);
        background-size: cover;
        background-position: center;
        height: 870px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        text-shadow: -5px -3px 3px rgba(34, 29, 29, 1);
        text-align: center;

    }


    .footerworks {
        height: max-content;
        object-fit: cover;
    }


    .gridworks {
        width: 95%;
        display: grid;
        grid-template-areas:
            "img1 texto1 texto1"
            "texto2 texto2 img2"
            "img3 texto3 texto3"
            "texto4 texto4 img4";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 600px 600px 600px;
        gap: 40px;
        margin-top: 40px;
        justify-items: center;
        align-items: center;
        margin-bottom: 40px;
        margin-left: 10px;

    }

    .imgw1 {
        grid-area: img1;
        border-radius: 25px;
        padding: 50px;

    }

    .imgw2 {
        grid-area: img2;
        border-radius: 25px;
        padding: 50px;

    }

    .imgw3 {
        grid-area: img3;
        border-radius: 25px;
        padding: 50px;

    }

    .imgw4 {
        grid-area: img4;
        border-radius: 25px;
        padding: 50px;
    }

    .textow1 {
        grid-area: texto1;
        padding: 50px;

    }

    .textow2 {
        grid-area: texto2;
        padding: 50px;
    }


    .textow3 {
        grid-area: texto3;
        padding: 50px;
    }

    .textow4 {
        grid-area: texto4;
        padding: 50px;
    }


    /* FIN WORKS */

    /* /////////////////////////// */

    /* CLIENTES */
    .bannerclientes {
        background-image: url(./medios/clientes.jpg);
        background-size: cover;
        background-position: center;
        height: 870px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        text-shadow: -5px -3px 3px rgba(34, 29, 29, 1);
        text-align: center;

    }

    .gridclientes {
        width: 95%;
        display: grid;
        grid-template-areas:
            "img1 texto1 texto1"
            "texto2 texto2 img2"
            "img3 texto3 texto3"
            "texto4 texto4 img4";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 600px 600px 600px;
        gap: 40px;
        margin-top: 40px;
        justify-items: center;
        align-items: center;
        margin-bottom: 40px;
        margin-left: 10px;

    }

    .imgc1 {
        grid-area: img1;
        border-radius: 25px;
        padding: 50px;

    }

    .imgc2 {
        grid-area: img2;
        border-radius: 25px;
        padding: 50px;

    }

    .imgc3 {
        grid-area: img3;
        border-radius: 25px;
        padding: 50px;
    }


    .textoc1 {
        grid-area: texto1;
        padding: 50px;

    }

    .textoc2 {
        grid-area: texto2;
        padding: 50px;
    }


    .textoc3 {
        grid-area: texto3;
        padding: 50px;
    }

    /* FIN CLIENTES */

    /* /////////////////////////// */